<form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()"  [nzLayout]="validateForm.get('formLayout')?.value">
  <div nz-row>
    <div nz-col nzSpan="12">
      <nz-form-item>
        <nz-form-label  nzFor="fullName" nzRequired>Full Name
       </nz-form-label>
        <nz-form-control [nzSm]="20" [nzXs]="24" nzErrorTip="Please input your Full Name!">
          <input nz-input id="fullName" formControlName="fullName" />
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzSpan="12">
      <nz-form-item>
        <nz-form-label  nzFor="jobTitle" >Job Title</nz-form-label>
        <nz-form-control [nzSm]="20" [nzXs]="24">
          <input nz-input id="jobTitle" formControlName="jobTitle"  />
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
  <div nz-row>
    <div nz-col nzSpan="12">
      <nz-form-item>
        <nz-form-label  nzFor="organization" nzRequired>Organization</nz-form-label>
        <nz-form-control [nzSm]="20" [nzXs]="24" nzErrorTip="Please input your organization!">
          <input nz-input id="organization" formControlName="organization" />
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzSpan="12">
      <nz-form-item>
        <nz-form-label  nzRequired nzFor="email">E-mail</nz-form-label>
        <nz-form-control [nzSm]="20" [nzXs]="24" nzErrorTip="The input is not valid E-mail!">
          <input nz-input formControlName="email" id="email" />
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
  <div nz-row>
    <div nz-col nzSpan="12">
      <nz-form-item>
        <nz-form-label  nzFor="password" nzRequired>Password</nz-form-label>
        <nz-form-control [nzSm]="20" [nzXs]="24" nzErrorTip="Please input your Password!">
          <input
            nz-input
            type="password"
            id="password"
            formControlName="password"
            (ngModelChange)="updateConfirmValidator()"
          />
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzSpan="12">
      <nz-form-item>
        <nz-form-label  nzFor="phoneNumber" >Phone Number</nz-form-label>
        <nz-form-control [nzSm]="20" [nzXs]="24" >
          <input nz-input id="phoneNumber" formControlName="phoneNumber" />
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
  <div nz-row>
    <div nz-col nzSpan="12">
      <nz-form-item>
        <nz-form-label  nzFor="country" nzRequired>Country</nz-form-label>
        <nz-form-control [nzSm]="20" [nzXs]="24" nzErrorTip="Please select Country!">
          <nz-select nzShowSearch nzAllowClear formControlName="country" nzPlaceHolder="Select a Country" >
            <nz-option  *ngFor="let c of countryList" nzLabel={{c}} nzValue={{c}}></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzSpan="12">
      <nz-form-item>
        <nz-form-label  nzFor="conferenceCode" >
          <span>
            Conference Code
            <i
              nz-icon
              nz-tooltip
              nzTitle="The invitation code is optional"
              nzType="question-circle"
              nzTheme="outline"
            ></i>
          </span>
        </nz-form-label>
        <nz-form-control [nzSm]="20" [nzXs]="24" >
          <input nz-input id="conferenceCode" formControlName="conferenceCode" />
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>

  <nz-form-item nz-row class="register-area">
    <nz-form-control [nzSpan]="14" [nzOffset]="6">
      <label nz-checkbox formControlName="agree">
        <span>I have read the <a>agreement</a></span>agree
      </label>agree
    </nz-form-control>
  </nz-form-item>
  <nz-form-item nz-row class="register-area">
    <nz-form-control [nzSpan]="14" [nzOffset]="6">
      <button nz-button nzType="primary">Register</button>
    </nz-form-control>
  </nz-form-item>
</form>
